 <h3>Introduzca criterios de busqueda</h3>
 <form #formConsulta="ngForm" (ngSubmit)="onSubmit()">
  <p>
    <label value="Codigo">Codigo: </label>
    <input type="text" name="codigo"  [(ngModel)]="idioma.codigo" #codigo="ngModel" style="margin-right: 15px">   
    <label value="Nombre"> Nombre: </label>
    <input type="text"  name="nombre" [(ngModel)]="idioma.nombre" #nombre="ngModel" style="margin-right: 15px;padding-right: 10px">  

    <input type="submit" value="Filtrar"  >
  </p>
 </form>
 {{ mensajeErr }}
 <div *ngIf="filtrado>=0">
  <div *ngIf="filtrado==1">
    <ul  *ngFor="let local of idiomas" >
    <li><b>{{ local.codigo }}</b> -> {{ local.nombre }} 
        <span *ngIf="msgEditado==local.codigo" style="background-color: aqua" >
         Registro Editado
        </span>
        <button (click)="editar(local.codigo)" style="margin-left: 5px;margin-right: 5px">Editar</button>        
        <div *ngIf="idiomaEditar==local.codigo">
          <app-editar (visible)="editado($event)" [codigo]="local.codigo" [nombre]="local.nombre"></app-editar>
        </div>      
        <button (click)="borrar(local.codigo)" style="margin-left: 5px;margin-right: 5px">Borrar</button> </li>
    </ul>
  </div>
  <div *ngIf="filtrado==0">
    No encontrados Idiomas para estas condiciones
  </div>
 </div>